from typing import List
from src.project_models.py_models.builder_config_base import BuilderConfigBase
{% set match_type = {'var': 'str', 'iterable': 'List[str]'} %}

class {{ new_model_class_name }}(BuilderConfigBase):
    {% for field in field_list -%}
    {{ field[0] }}: {{ match_type[field[1]] }}
    {% endfor %}